/*Global Setting*/
body{
    font-family:"Neue Helvetica", Helvetica, Arial, sans-serif;
}

/*Front Page*/
.front{
    background-color:#000000;
    color:#ffffff;
    margin:7%;
}
.front a {
    color: white;
}
.front h1{
    font-family:"Times New Roman", Times, serif;
    font-size:5em;
    margin-bottom:5px;
    padding-top:4%;
}
.front h2{
    font-family:"Times New Roman", Times, serif;
    font-size:2em;
    margin-top:5px;
}
.front p{
    font-size:1.4em;
}
.front-icon{
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom:35px;
    margin-top:35px;
}
.front-icon i:hover{
    cursor:pointer;
}
.front-author{
    bottom:5%;
}
@media screen and (max-width:810px){
    .front h1{
        padding-top:0px;
        font-size:4em;
    }
}
@media screen and (max-width:657px){
    .front h1{
        margin-top:0px;
        font-size:3em;
    }
    .front h2{
        font-size:1.6em;
    }
    .front p{
        font-size:1em;
    }
}
/*End of Front Page*/

/* Map Page */
.map{
    text-align:center;
    background-color:#252527;
    color:#fff;
}
.td-capital{
    text-transform:capitalize;
}
#mapinfo{
    margin:auto;
}
#note-holder i{
    color:#999;
}
#note-holder i:hover{
    color:#000;
}
#mapdate{ /* #mapdate slider for webkit browsers*/
    -webkit-appearance:none;
}
#mapdate::-webkit-slider-runnable-track{
    width:300px;
    height:5px;
    background:#999;
    border: none;
    border-radius:3px;
}
#mapdate::-webkit-slider-thumb{
    -webkit-appearance:none;
    border:none;
    height:15px;
    width:16px;
    border-radius:50%;
    background:#76daff;
    margin-top:-4px;
}
#mapdate:focus{
    outline:none;
}
#mapdate:focus::-webkit-slider-runnable-track{
    background:#999;
}
#mapdate{/* #mapdate slider for Firefox*/
    border:none; /*FF unable to apply focus style bug*/
    width:300px; /* required for proper track sizing in FF*/
}
#mapdate::-moz-range-track{
    width:300px;
    height:5px;
    background:#999;
    border:none;
    border-radius:3px;
}
#mapdate::-moz-range-thumb{
    border:none;
    height:16px;
    width:16px;
    border-radius: 50%;
    background: #76daff;
}
#mapdate:-moz-focusring{ /* hide the outline behind the border*/
    outline:1px solid white;
    outline-offset:-1px;
}
#mapdate:focus::-moz-range-track{
    background:#999;
}
#mapdate::-ms-track { /* for IE 10+ */
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
#mapdate::-ms-fill-lower {
    background: #999;
    border-radius: 10px;
}
#mapdate::-ms-fill-upper {
    background: #999;
    border-radius: 10px;
}
#mapdate::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #76daff;
}
#mapdate:focus::-ms-fill-lower {
    background: #999;
}
#mapdate:focus::-ms-fill-upper {
    background: #999;
}

#map-text{
  position:absolute;
  left:0px;
  top:0px;
  background-color:rgba(37, 37, 39, 0.7);
    padding-right:7px;
    padding-bottom:12px;
    padding-left:5%;
    padding-top:10px;
}
/*#map-data{
    background-color:rgba(0,0,0,0.6);
}*/
#map-data td:nth-child(odd){
  text-align:left;
}
#map-data td:nth-child(even){
  text-align:center;
}
#map-title{
    color:#fff;
    -webkit-text-fill-color:transparent;
  background: -webkit-linear-gradient(#fff, #999); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #999); /* For Opera 11.1 to 12.0 */
  -webkit-background-clip:text;
}
#map-title{
    position:relative;
}
#paper1{
    margin-top:30px;
}
#map-reset{
    margin-top:20px;
    margin-right:7px;
    margin-bottom:2px;
    vertical-align:middle;
    float:right;
    background-color:#252527;
    border:1px solid #76daff;
    color:#76daff;
    width:75px;
    height:32px;
    border-radius:4px;
}
#map-reset:hover{
    cursor:pointer;
    color:#fff;
    border:1px solid #fff;
    transition-duration: 0.3s;
}
#map-reset p{
    margin:7px;
}
/* End of Map Page */